.addComment {
    margin: 4px;
    padding: 5px;
    background: #393e46;
}

.comment {
    margin: 8px;
    background: #393e46;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 40vw;
    text-align: left;
    padding: 10px;
}

@media (max-width: 800px) {
    .addComment {
        margin: 2px;
        padding: 2px;
    }
    .comment {
        width: 94vw;
        margin: 3px;
        padding: 1vh;
    }
}

