.background {
  display: flex;
  background-color: #393e46;
  padding: 5px;
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 12%;
  text-align: center;
  flex-direction: row;
  align-items: center;
  position: sticky;
  border-bottom: 1px solid #eee;
  flex-wrap: nowrap;
  min-height: 80px;
  justify-content: space-between;
  z-index: 1;
}
.logo {
  cursor: pointer;
  min-width: 85px;
  width: 20vw;
  transition: all 400ms ease-out;
}
.buttons {
  display: flex;
  flex-direction: row;
  width: 20vw;
  justify-content: flex-end;
}

.search {
  width: 25vw;
}
@media (max-width: 800px) {
  .buttons {
    margin: 0;
    margin-left: 6vw;
    min-width: 100px;
    justify-content: flex-end;

  }
  .search {
    margin: 0;
    min-width: 30px;
    width: 32vw;

  }
  .logo {
    width: 25vw;
  }
}
