.container {
  color: #eee;
  background: #222831;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.postContainer {
  display: grid;
  grid-gap: 30px;
  z-index: 0;
}
.container .login {
  background: #eee;
  display: inline-block;
  width: 50vw;
  height: 50vh;
  transition: all 400ms ease-out;

}


