.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222831;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.cardwithsvg {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 3rem;
}
.cardwithsvg img {
  width: 100%;
  max-width: 20vw;
}

.title a {
  color: #00adb5;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  user-select: none;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.card {
  display: flex;
  cursor: pointer;
  flex: 1 1;
  color: #eee;
  margin: 1rem;
  padding: 1.5rem;
  min-height: 160px;
  min-width: 160px;
  text-decoration: none;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  width: 20vw;
  height: 20vh;
  max-width: 22vw;
  max-height: 22vh;
  transition: color 0.15s ease, border-color 0.15s ease;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card:hover,
.card:focus,
.card:active {
  color: #00adb5;
  border-color: #00adb5;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.card:last-of-type{
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

.logo {
  height: 1em;
}

@media (max-width: 800px) {
  .card {
    margin: 0;
    padding: 0.75rem;
    min-height: 100px;
    min-width: 130px;
    transition: all 400ms ease-out;
    flex: auto;
    width: 40vw;
    max-width: 24vw;
    max-height: 18vh;
  }
  .cardwithsvg {
    margin-top: 1rem;
    transition: all 400ms ease-out;
    display: grid;
    justify-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5vw;
    padding: 10px;
  }
  .cardwithsvg img {
    width: 100%;
    transition: all 400ms ease-out;
    max-width: 35vw;
  }
  .title {
    word-wrap: break-word;
    text-align: center;
    font-size: 3rem;
    transition: all 400ms ease-out;
  }

  .main {
    margin-top: 0;
    transition: all 400ms ease-out;
  }
}
